@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
*{
  font-family: 'DynaPuff', cursive;
}

.d-grid {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 250px auto;
}

.search {
  width: 200px;
}

.form-search {
  margin-left: 40px;
}

.imgSeach {
  width: 25px;
  height: 25px;
  display: flex;
  position: absolute;
  top: 105px;
  left: auto;
}

.card{
    margin-top: 20px;
}

.card-head {
  background-color: rgb(255, 247, 236);
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  color: rgb(252, 44, 3);
}
.card-title {
  font-size: 30px;
  text-align: center;
}
.card-text {
  font-size: 30px;
  text-align: center;
}

.thead {
  background-color: rgb(255, 232, 232);
  text-align: center;
  font-size: 18px;
}
.tbody {
  background-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  text-align: center;
}
.bt-tb {
  display: grid;
  grid-template-columns: 50px auto;
  justify-content: center;
}

@media (min-width: 600px) {
  .grid-row {
    grid-template-columns: repeat(2,1fr);
  }
}

.imgedit{
  width: 30px;
  height: 30px;
}
.imgdelete{
  width: 30px;
  height: 30px;
}

.head-detail{
  background-color: antiquewhite;
}
.title-detail{
  margin-left: 5px;
}
.imgfile{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.bt-update{
  background-color: rgb(9, 232, 158);
}
.bt-close{
  background-color: rgb(250, 91, 123);
}

.imggirl{
  width: 300px;
  height: 300px;
  margin-top: 30px;
}


/* Add page */

.addpos {
  margin-left: auto;
}
.bt-add {
  background-color: rgb(243, 210, 236);
  width: 305px;
  font-weight: 500;
  color: black;
}

.headform {
  background-color: antiquewhite;
}

.imgform {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.imgadd{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}


