@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

.pos{
    margin-bottom: 20px;
    background-color: rgb(255, 199, 199);
}

.fsize{
    font-size: 35px;
    font-weight: 700;
    color: red;
    font-family: 'DynaPuff', cursive;
}

.img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}